select {

    // typography
    font-family: inherit;
    font-size: inherit;

    // box model
    border: none;
    padding: 0;
    vertical-align: top;

    // visual
    background: none;
    color: inherit;
    cursor: pointer;
}
