textarea {

    // typography
    font-family: inherit;
    font-size: inherit;

    // box model
    border: none;
    display: block;
    margin: 0;
    padding: 0;
    resize: none;
    vertical-align: top;

    // visual
    color: inherit;
}
